@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik+Mono+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Rubik Mono One", monospace;
}

p,
li,
a,
btn {
  font-family: "Inter", sans-serif;
}
html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#app {
  width: 100vw;
  height: 100vh;
  background-color: #0e1a28;
}

/* navbar responsive */

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #0059ff;
}

/* header */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0e1a28;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 3;
}

.header h1 {
  color: #fff;
  margin: 0.5em 0 0.1em 0;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: #f08f18;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #ffffff;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #f08f18;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #f08f18;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* Section part */

section {
  display: flex;
  margin: 2em 15em;
  justify-content: center;
}

/* RESPONSIVE PART */

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }

  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #ffffff;
    width: 100;
  }

  .header li a {
    padding: 20px 30px;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* #herobanner {
  width: 100vw;
  height: 100vh;
  background-image: url(assets/astrocat.png);
}

#headbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
}

#headbar h1 {
  color: #fff;
  margin: 1em 0 0.3em 0;
  font-size: 32px;
}

nav a {
  color: rgb(255, 77, 0);
  text-decoration: none;
  padding: 1em;
  margin: 0.5em;
}


#contentLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin: 1em 0 0 2em;
}

#contentLeft h2 {
  color: rgb(255, 77, 0);
  font-size: 38px;
  margin-top: 2em;
}

#contentLeft img {
  width: 50%;
  margin: 0em 0em 1.5em 0;
}

#contentLeft p {
  margin: 0.5em 0 1em 0;
  color: #fff;
  font-size: 22px;
}

#contentLeft button {
  width: 10vw;
  height: 5vh;
  border-radius: 10px;
  border: solid 1px rgb(255, 77, 0);
  background-color: transparent;
  text-decoration: none;
  color: rgb(255, 77, 0);
  font-size: 16px;
  margin: 0 0 1em;
}

#contentLeft button:hover {
  border: solid 1px rgb(255, 77, 0);
  color: #fff;
  background-color: rgb(255, 77, 0);
  transform: scale(1.1);
} */
